* {
  margin: 0;
  padding: 0;
  box-sizing:border-box
}
h1{
    font-family: "Times New Roman";
    font-size: 2.5em;
    text-align: left;
    color:hsl(0, 28%, 95%);
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin: 0;
}
h1::first-letter{
    font-size: 2em;
}
.navbar{
 margin: 0;
 padding: 0;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(204, 16%, 94%);
    padding: 0px 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
   font-family: "Reddit Sans";
   font-size: 1.3em;
   color: black;
   text-decoration: none;
   padding: 10px;
   display: block;
   text-align: center;
   font-size: 20px;
}
.navbar a:hover{
    background-color:hsl(0, 15%, 12%);
    color: hsl(0, 33%, 94%);
    font-weight : bold;
}
.navbar li{
    float:left;
}
.navbar2{
    margin: 0;
    padding: 0px;
   }
   .navbar2 ul{
       list-style-type: none;
       background-color: hsl(204, 16%, 94%);
       padding: 0px;
       margin: 0px;
       overflow: hidden;
   }
.navbar2 li{
    float: left;
    font-family: "Reddit Sans";
   font-size: 1.5em;
   color: black;
   text-decoration: none;
   padding: 20px;
   padding-left: 50px;
   padding-right: 50px;
   display: block;
   text-align: center;
}
.navbar2 li:hover{
    background-color:hsl(0, 15%, 12%);
    color: hsl(0, 33%, 94%);
    font-weight : bold;
    cursor: pointer;
}
.dropdown{
    display: inline-block;
}
.content a{
    text-align: center;
    font-family: "Reddit Sans";
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
display: none;
position: absolute;
background-color: hsl(204, 16%, 94%);
min-width: 100px;
box-shadow: 3px 3px 5px hsl(0, 3%, 75%);
z-index: 1;
}
.dropdown:hover .content{
   display: block 
}

.dropdown a:hover{
    background-color:hsl(0, 15%, 12%);
    color: hsl(0, 33%, 94%);
    font-weight : bold;
}
.arrow {
    display: inline-block;
    width:18px;
    height: 10px;
    vertical-align: baseline;
    padding-left: 5px;
}
.icons{
    text-align:center;
    text-decoration: none;
    margin-left: 900px;
    padding:0;
    vertical-align: super;
}
.navbar1{
    margin: 0;
    padding: 0;
   }
.navbar1 ul{
       list-style-type: none;
       background-color: hsl(0, 10%, 88%);
       padding:0px;
       margin: 0px;
       overflow: hidden;
   }
.navbar1 li{
    float: left;
    padding: 10px;
    text-decoration: none;
}
.news a{
    display: inline-block;
    padding-bottom: 10px;
    text-decoration:none;
    font-family: "Reddit Sans";
    text-align: center;
    color: black;
}
.news a:hover {
    background-color: aliceblue;
    font-weight: bold;
    color: hsl(204, 62%, 61%);
}
.box{
   font-size: 1.6em;
   border: 2px solid;
   margin-top: 60px;
   margin-bottom: 20px;
   box-shadow: 2px 2px 4px;
   border-radius:20px ;
   position: relative;
}
.bottom-text a{
font-family: Arial;
color:hsl(0, 0%, 97%);
position: absolute;
bottom: 50px;
left: 20px;
text-decoration: none;
}
.bottom-text a:hover{
    font-family: Arial;
    color:hsl(197, 73%, 63%);
    position: absolute;
    bottom: 50px;
    left: 20px;
    text-decoration: none;
    }
.bottom-text1 a{
font-family:'Times New Roman';
 color:hsl(0, 44%, 95%);
 position: absolute;
 bottom: 100px;
 left: 20px;
 text-decoration: none;
 }
.bottom-text1 a:hover{
    font-family:'Times New Roman';
    color:hsl(197, 21%, 42%);
    position: absolute;
    bottom: 100px;
    left: 20px;
    text-decoration: none;
            }
.bottom-text2 a{
 font-family:'Times New Roman';
 color:hsl(0, 0%, 100%);
 position: absolute;
 bottom: 10px;
 left: 20px;
 text-decoration: none;
 }
.bottom-text2 a:hover{
    font-family:'Times New Roman';
    color:hsl(197, 52%, 64%);
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-decoration: none;
   }
#box1{
    background-image: url(fin_min.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 620px;
    margin-left: 30px;
    flex-shrink: 0;
    position:relative;
}
#box2{
    background-image: url(actress.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 620px;
    margin-left: 20px;
    flex-shrink: 0;
}
#box5{
    background-image: url(upsc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 620px;
    margin-left: 20px;
    flex-shrink: 0;
}
#box3{
    background-image: url(rel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 290px;
    height: 290px;
    margin-left: 10px;
}
#box4{
    background-image: url(sun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    width: 290px;
    height: 290px;
    margin-left:10px;
}
.small-box-container{
    display: flex;
    justify-content: space-between;   
    position:absolute;
    top: 440px;
    left: 100px;

}
.small-box-container1{
    display: flex;
    justify-content: space-between;   
    position:absolute;
    top: 380px;
    left: 20px;

}
.small-box-container2{
    display: flex;
    justify-content: space-between;   
    position:absolute;
    top: 40px;
    left: 10px;

}
.small-box-container3{
    display: flex;
    justify-content: space-between;   
    position:absolute;
    top: 160px;
    left: 20px;

}

.small-box {
    flex: 1;
    border: 1px solid hsl(0, 6%, 7%);
    background-color: black;
    font-size: 18px;
    color:hsl(207, 24%, 91%);
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 20px;
    margin-right: 10px; 
}
.small-box:first-child {
    border: 1px solid hsl(0, 6%, 7%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-right: 10px;
   
}
.small-box:last-child {
    border: 1px solid hsl(0, 6%, 7%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-right: 0px;
}



.main-content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }
  
.box-container {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    flex-shrink: 0;
  }
  #column2 {
    display:flex;
    flex-direction: column;
    margin-left: 20px;
  }
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.article-list {
    display: none;
    margin-top: 10px;
}
.article-list.latest {
    background-color: lightblue;
    padding: 10px;
}
.article-list.popular {
    background-color: lightgreen;
    padding: 10px;
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    position: absolute;
    top: 330px;
    right: 20px;
}
.nav-buttons button {
    margin: 100px;
    padding: 20px 20px;
    font-size: 3em;
    cursor: pointer;
}
.links-container {
    display: none;
    flex-direction: column;
    position: relative;
    top: 150px;
    padding-bottom: 500px;
}
  
.links-container a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    font-family: "Reddit Sans";
}
.Links{
    border: 1px solid;
    font-size: 18px;
    width:350px;
    height: 100px;
    box-shadow: 2px 2px 4px;
   border-radius:20px ;
   position: relative;
   margin-top:10px;
}
.Links div:hover{
    border: 1px solid;
    font-size: 20px;
    width:350px;
    height: 100px;
    box-shadow: 3px 3px 10px;
   border-radius:20px;
   position: relative;
   margin-top:10px;

}

